/* Header.css */

.Header {
  box-sizing: border-box;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #684D43;
}

.Header > * {
  color: #1f2937;
  margin: 0;
}

.nav-link {
  display: flex;
  color: #AEC795;
  text-decoration: none;
  margin-top: 1em;
}

.nav-link:hover {
  color: #8DA9C4;
}

.nav-link-active {
  color: #F07167;
}
