.RandomEat {
  background-color: #684D43;
  color: #fff; 

  /* Button styles */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  /* Gradient background */
  background-image: linear-gradient(to right, #AEC795, #8DA9C4, #F07167);
}

.RandomEat:hover {
  background-color: #6f5a50;
}
