:root {
  --primary-color: #684D43;
  --secondary-color-1: #AEC795;
  --secondary-color-2: #8DA9C4;
  --secondary-color-3: #F07167;
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: var(--primary-color);
}

header {
  background-color: var(--secondary-color-1);
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 24px;
  color: var(--primary-color);
}

footer {
  background-color: var(--secondary-color-1);
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
  margin-right: 20px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--secondary-color-3);
}

button {
  background-color: var(--secondary-color-3);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--secondary-color-2);
}
